html {
    font-size: 24px;
    color: white;
}

.children {
    width: 1em;
    height: 1em;
    border-style: solid;
    border-width: 2px;
    color: blue;
    font-size: 2rem;
}

@media only screen and (max-width: 599px) {
    .navbar-brand {
        color: white !important;
    }
}

@media only screen and (min-width: 600px) {
    .navbar-brand {
        margin-left: 10%;
        margin-right: 10%;
        color: white !important;
    }
}

.navbar {
    height: 60px;
    background: rgba(0,0,0,0.6);
    position: absolute;
}

.nav-link {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 14px;
}

.navbar-nav {
    margin-right: 0 !important;
}

.auth-container {
    display: flex;
    float: right;
}

.navbar-custom {
    margin-right: 0 !important;
    width: 100%;
    justify-content: space-between !important;
}

.firstView {
    height: 150vh;
    background-image: url("assets/main-bg.jpg");
    background-size: cover;
    background-position: center;
}

#title-main-page {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10%;
}

#descripton-title {
    font-size: 1rem;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.secondView {
    height: 100vh;
    background-image: url("assets/the-games-bg.jpg");
    background-size: cover;
    background-position: center;
}

.secondTextOne {
    color: white;
    font-size: 1rem;
    margin-left: 5vw;
    padding-top: 20vh;
}

.container {
    margin-inline: 5vw !important;
    padding-inline: 0;
}

#thegames {
    font-size: 4rem;
    color: white;
    font-weight: bold;
}